@font-face {
    font-family: "InterBlack";
    src: url("../fonts/Inter/InterBlack.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "InterRegular";
    src: url("../fonts/Inter/InterRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}